// COLORS
$color-teal: #00cdd5;
$color-pink: #ff00ff;

$color-grey-light-1: #727272;
$color-grey-light-2: #808080;
$color-grey-light-3: #c7c7c7;
$color-grey-light-4: #8b8b8b;

$color-grey-dark-1: #313131;
$color-grey-dark-2: #292929;

$color-white: #fff;
$color-black: #000;

$color-off-black-light: #1a1a1a;
$color-off-black: #141414;

$color-purple: #670aa1;
$color-purple-light: #8312b2;
$color-purple-dark: #440c8b;

$color-yellow: #ffeb00;
$color-yellow-light: #f6f901;
$color-yellow-dark: #6a5b09;

$color-green: #08d830;
$color-green-light: #00f700;
$color-green-dark: #042400;

$color-blue: #345fda;
$color-blue-bright: #3072ff;
$color-blue-extra-light: #6484ff;
$color-blue-light: #4063e8;

// colors with specific uses
$color-gradient-black: #171717;
$color-box-shadow-light: #00000029;
$color-box-shadow-dark: #000000c7;

// FONT-SIZE
$font-size-12: 1.2rem;
$font-size-20: 2rem;
$font-size-25: 2.5rem;
$font-size-30: 3rem;
$font-size-90: 9rem;
