.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  transition: all 0.3s;
  color: $color-white;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  @include respond(large-laptop) {
    font-size: 1.7rem;
  }

  @include respond(ipad) {
    font-size: 1.5rem;
  }

  &__content-container {
    font-family: Mosk-100;
    padding: 6rem;
    max-height: 80vh;
    max-width: 60vw;
    overflow-y: scroll;
    background-color: $color-off-black-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: thin;
    scrollbar-color: blue red;
    border-radius: 1rem;

    @include respond(surface-duo) {
      padding: 2rem;
    }

    @include respond(iphone-plus) {
      max-height: 75vh;
      max-width: 80vw;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__close {
    color: $color-teal;
    cursor: pointer;
    font-size: 2.5rem;
    right: 0;
  }

  &__button-container {
    width: 100%;
    padding-bottom: 1rem;
  }

  &__button {
    width: 10rem;
    border-radius: 1rem;
    margin-top: 3rem;
    color: $color-white;
    border: none;
    font-family: Mosk-700;
    font-size: 2.5rem;
    background: transparent
      linear-gradient(
        120deg,
        $color-teal 0%,
        $color-teal 26%,
        $color-pink 100%,
        $color-black 100%
      )
      0% 0% no-repeat padding-box;
  }
}

.modal-title {
  font-size: 4.4rem;
  font-family: Mosk-700;

  @include respond(ipad) {
    font-size: 3.6rem;
  }
}

.modal__content-container::-webkit-scrollbar {
  background-color: #262626;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.modal__content-container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #555;
}

.content-align-left {
  text-align: left;
}

.buyback-header {
  font-family: Mosk-700;
  font-size: 4rem;
}

.modal-cookie-link {
  color: $color-white;
  text-decoration: none;
}
